<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDuMe Activation Email</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #0070f3;
        padding: 24px;
        color: #ffffffff;
      }
      .user {
        padding-top: 20px;
        font-weight: 600;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
      }
      .button {
        display: inline-block;
        background-color: #0070f3;
        color: #ffffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Welcome to AZAD e-learning</h1>
      </div>
      <div class="email-body">
        <p class="user">Hello <%= username %>,</p>
        <p>
          Thank you for registering with <b>AZAD e-learning!</b> We're excited
          to have you on board. To activate your account and start your learning
          journey, please click the link below:
        </p>
        <a
          class="activation-link"
          href="<%=`https://azad-e-learning.vercel.app/email-verification/${verificationToken}` %>"
          >Activate Your Account
        </a>

        <p><b>Note:</b> This link is valid for the next 5 minutes.</p>
        <p>
          If you didn't sign up for an account on <b>AZAD e-learning</b>, please
          ignore this email.
        </p>
      </div>
      <div class="email-footer">
        <p>
          If you have any questions or need assistance, feel free to contact our
          support team at
          <a href="mailto:azadelearning@gmail.com">support@AZADlearning.com</a>
        </p>
      </div>
    </div>
  </body>
</html>
