.contact-us {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: rgb(122, 203, 122);
  color: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
}