.contact-us {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: rgb(122, 203, 122);
  color: #fff;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.contact-left {
  flex: 1;
  padding: 20px;
  max-width: 500px;
}

.contact-left p {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.contact-left h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0;
}

form {
  margin-top: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  background: teal;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

form button:hover {
  background: white;
  color: teal;
}

.contact-right {
  flex: 1;
  text-align: right;
}

.contact-right img {
  max-width: 500px;
  height: auto;
}