.courseContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  text-align: center;
  padding-inline: 90px;
}

.courseDesc {
  padding-top: 20px;
  text-align: start;
  color: #403f3f;
}

.bold {
  font-size: 30px;
  color: #737373;
}

.headerDesc {
  display: flex;
}

.courseOverviews {
  flex: 1px;
  margin-top: 20px;
  position: relative;
}

.courseOverview {
  display: flex;
  padding-top: 20px;
}

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.box {
  position: relative;
  height: 100px;
  width: 100px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

  /* opacity: 0.5; */
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(146, 249, 146);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle.intermediate {
  background-color: rgb(228, 239, 18);
}
.circle.advanced {
  background-color: rgb(233, 189, 183);
}

.levelInfo {
  flex: 2;
  text-align: start;
}

.courseGraphImgContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphImg {
  height: 350px;
  width: 350px;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 60px;
}

.courseSubject {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
}

.courses {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.course {
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
  border-radius: 5%;
  overflow: hidden;
  transition: background-color 0.2s;
  width: 400px;
  transition: all 0.3s ease;
}

.level {
  text-align: start;
  margin-bottom: 10px;
  font-size: 20px;
}

.features {
  /* width: 100%; */
  padding: 10px;
}
.courseImage {
  text-align: center;
  object-fit: contain;
  height: 100%;
}

/*  */
.card {
  width: 250px;
  height: 400px;
  padding: 0.9em;
  /* background: #f5f5f5; */
  position: relative;
  overflow: visible;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-inline: 30px;

  background: #efefef;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: 0.3s ease-in-out;
  /* transition: 0.3s ease-in-out; */
  transition: all 0.3s ease-in-out 0s;
}

/*Hover*/
.card:hover {
  background-color: white;
}

.card-img:hover {
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  -webkit-box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}
