.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.header {
  text-align: center;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.courseItem {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px -2px #9a9a9a;
  background-color: #f8fff8af;
}
.courseSubject {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.courses {
  display: flex;
}

.course {
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
  border-radius: 5%;
  overflow: hidden;
  transition: background-color 0.2s;
  width: 400px;
  transition: all 0.3s ease;
}
.course:hover {
  transform: scale(1.08);
  background-color: white;
}
.courseLevel {
  text-align: start;
  margin-bottom: 10px;
  font-size: 20px;
}
.features {
  /* width: 100%; */
  padding: 10px;
}
.courseImage {
  object-fit: contain;
  height: 60%;
}
.courseDescription {
  text-align: start;
  font-size: medium;
}
.button {
  border-radius: 5%;
  height: 40px;
  justify-content: end;
  align-items: end;
  padding: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin: 10px;
  background-color: rgb(5, 191, 89);
  color: white;
}
.button:hover {
  background-color: rgb(7, 127, 61);
}
