.courseContainers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.header {
  text-align: center;
  padding-inline: 90px;
}

.courseContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 60px;
}

.courseSubject {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
}

.courses {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.courseImage {
  text-align: center;
  object-fit: contain;
  height: 100%;
}

.card {
  width: 250px;
  height: 400px;
  padding: 0.9em;
  position: relative;
  overflow: visible;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-inline: 30px;
  background: #efefef;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

.card-button {
  border: 1px solid #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: all 0.3s ease-in-out 0s;
}

.card:hover {
  background-color: white;
}

.card-img:hover {
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  -webkit-box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

@media (max-width: 768px) {
  .courseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .courses {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .courseSubject {
    margin: 0;
    padding: 30px 20px 10px 0px;
  }
}
