.goalsContainer {
  margin: 60px;
}

.goalsHeder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.goalsHeder h1 {
  color: #2c234d;
  font-size: 40px;
}

.goalsCards {
  margin: 10px 200px 150px 200px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.goalsCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  box-shadow: 2px 4px 10px -2px #9a9a9a;
  border-radius: 15px;
  overflow: hidden;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.normal {
  flex-direction: row;
}

.reversed {
  flex-direction: row-reverse;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.goalsImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.6;
}

.enrollButton {
  position: absolute;
  bottom: 10px;
  right: 10px;

  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.details {
  padding-left: 10px;
  text-align: start;
  color: grey;
}

h2 {
  color: #2c234d;
  padding-bottom: 30px;
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.card:hover .card-hover {
  opacity: 1;
}

.enroll-button {
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow {
  margin-left: 5px;
  font-size: 20px;
}