.authContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authBox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 100px;
  box-shadow: 2px 4px 10px -2px #9a9a9a;
  border-radius: 15px;
  overflow: hidden;
  width: 800px;
  height: 400px;
}

.buttonsContainer {
  height: 100%;
  display: flex;
  background: linear-gradient(to bottom, #91e091, #01e066);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.authButtons {
  margin: 10px;
  width: 250px;

  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.authButtons:active {
  transform: scale(0.95);
}

.toggle {
  background-color: #3498db;
  color: #ffffff;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: black;
  margin: 0 auto;
}

.inputAuthContainer {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 100%;
}

.authInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.authInput {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  padding-inline: 10px;
  padding-right: 50px;
  border-radius: 2px;
  position: relative;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #555;
  outline: none;
}

.submitButton {
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #62c60a;
  background-color: #01e066;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
}

.submitButton:focus {
  outline: none;
}

.submitButton:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .authContainer {
    margin-top: 100px;
  }
  .authBox {
    margin: 20px;
    flex-direction: column;
    height: auto;
  }

  .buttonsContainer {
    width: 100%;
  }

  .inputAuthContainer {
    margin-top: 20px;
  }

  .authInput {
    width: 60vw;
  }
}
