.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 70px;
  /* background-color: rgb(122, 203, 122); */
  background: linear-gradient(to right, #ffffff, #01e066);
  width: 100%;
}

.wrapper {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.icon {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.logo_text {
  height: 80px;
  width: 90px;
  align-items: center;
  margin-left: -12px;
}

.link-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.item {
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.item:hover {
  color: #58a85f;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authButton {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(14, 167, 42);
  color: white;
  display: flex;
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.authButton:hover {
  background-color: #58a85f;
}

.avatar-image {
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logo {
    height: 40px;
    width: 40px;
  }

  .logo_text {
    height: 60px;
    width: 80px;
  }

  .items {
    display: none;
  }

  .avatar {
    margin: 0;
  }
}
