.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 70px;
  background: linear-gradient(to right, #ffffff, #01e066);
  width: 100%;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.logo_text {
  height: 80px;
  width: 90px;
  align-items: center;
  margin-left: -12px;
}

.link-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.item {
  margin-right: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.item:hover {
  color: #58a85f;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authButton {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(14, 167, 42);
  color: white;
  padding: 5px;
  width: 90px;
  font-size: 14px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.authButton:hover {
  background-color: rgb(82, 168, 82);
}

.avatar-image {
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 22px;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 20px;
  }

  .icon {
    margin-left: 20px;
    align-items: flex-start;
  }

  .logo_text {
    margin-right: 50px;
  }

  .menu-toggle {
    align-items: flex-end;
    display: block;
    margin-inline: 10px;
  }

  .link-section {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    background: linear-gradient(to right, #6fe8a3, #01e066);
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .link-section.show {
    display: flex;
  }

  .user.show {
    display: flex;
  }

  .menu {
    flex-direction: column;
    padding: 10px 0;
  }

  .item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
  }

  .authButton {
    color: black;
    font-weight: 700;
    background-color: #05ff76;
  }
}
