.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 60px;
}

.hero-left {
  flex: 1;
  padding: 20px;
}

.hero-left h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 800;
  color: #2c234d;
}

.hero-left p {
  font-size: 18px;
  color: green;
  border: 2px solid rgb(63, 137, 107);
  padding: 10px;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  /* background-color: rgb(122, 203, 122); */
}

.tags {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}   

.hero-right {
  flex: 1;
  position: relative;
}

.heroImg {
  max-width: 100%;
  height: auto;
  z-index: 1;
}

@media(max-width: 768px){
  .hero {
    flex-direction: row;
    margin: 0 10px;
    margin-top: 75px;
  }

  .hero-left {
    text-align: left;
    padding: 0;
  }

  .hero-left h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .hero-left p {
    font-size: 18px;
  }
 
  .hero-right{
    display: none;
  }

  .tags {
    flex-direction: row;
  }
}