.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0 60px;
}

.hero-left {
  flex: 1;
  padding: 20px;
}

.hero-left h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 800;
  color: #2c234d;
}

.hero-left p {
  font-size: 18px;
  color: #666;
}

.hero-right {
  flex: 1;
}

.hero-right img {
  max-width: 100%;
  height: auto;
}