.cards-section {
  background: url("./animated-blob.svg");
  background-repeat: no-repeat;
  margin: 0;
}

.cardContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: start;
  padding: 30px;
  line-height: 20px;
}

.sideHeading {
  font-size: 30px;
  color: #9a9a9a;
}

.heading {
  font-size: 40px;
  margin-top: 10px;
  color: #2c234d;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 60px;
  margin: 30px 0;
}

.cardItem {
  margin: 0;
  padding: 20px;
  cursor: pointer;
  background: #f7f6fa;
  box-shadow: 2px 4px 10px -2px #9a9a9a;
  border-radius: 15px;
  height: 200px;
  width: 150px;
  flex: 1;
  transition: all 0.2s ease;
  overflow: hidden;
  position: relative;
}

.cardItem::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: rgb(4, 242, 4);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transform: rotate(45deg);
}

.cardItem:hover::before {
  opacity: 1;
}

.cardItem:hover {
  background-color: white;
  box-shadow: 2px 4px 10px -2px #d1d0d0;
  transform: scale(1.1);
}

.cardItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-icon {
  width: 95px;
  height: 95px;
  margin: 0;
}

.card-title {
  font-size: 16px;
  color: #2c234d;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .heading {
    font-size: 30px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cardItem {
    width: 100%;
    margin: 0 0 20px;
  }
}