.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.header {
  display: flow-root;
  flex-direction: start;
  text-align: start;
  padding: 30px;
  line-height: 20px;
}
.sideHeading {
  font-size: 30px;
  color: #9a9a9a;
}
.heading {
  font-size: 40px;
}
.heading1 {
  color: rgb(210, 210, 210);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardItem {
  margin: 0px 20px;
  padding: 20px;
  cursor: pointer;
  background-color: #f2f2f2af;
  -webkit-box-shadow: 2px 4px 10px -2px #2e2c2c;
  box-shadow: 2px 4px 10px -2px #9a9a9a;
  border-radius: 15px;
  height: 200px;
  width: 150px;
  flex: 1;
  transition: all 0.3s ease;
  overflow: hidden;
}
.cardItem::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: rgb(4, 242, 4);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transform: rotate(45deg);
}

.cardItem:hover::before {
  opacity: 1;
}

.cardItem:hover {
  background-color: white;
  box-shadow: 2px 4px 10px -2px #d1d0d0;
  transform: scale(1.1);
}
.cardItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.card-icon {
  width: 95px;
  height: 95px;
  margin: 0;
}
.card-title {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
