.formContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.formItem {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessionType {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sessionType input[type="button"] {
  border: 1px solid gray;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.selectedType {
  background-color: rgb(122, 203, 122);
  color: #ffffff;
}

h4 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.detailItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  column-gap: 50px;
}

.detailsItem {
  text-align: left;
}

label {
  font-weight: bold;
}

.inputTextForm,
.inputEmailForm,
.inputTelForm,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

select {
  cursor: pointer;
}

select:focus {
  outline: none;
}

span {
  color: red;
}

@media (max-width: 768px) {
  .detailItems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
    column-gap: 0px;
  }

  .inputTextForm,
  .inputEmailForm,
  .inputTelForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }

  select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76vw;
  }
}